{% extends "base.html.twig" %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block body %}
    <h1>page d'accueil</h1>
    <a href="{{ path('backend')}}">Espace administrateur</a>
{% endblock %}
